body {
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

header {
  background-color: #ffffff;
  padding: 20px;
}

.List:hover {
  background-color: rgb(170, 170, 170);
  color: white;
  border-radius: 0%;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 2rem;
}

nav li {
  display: inline;
  align-items: center;
  padding: 10px;
}

nav a {
  color:rgba(0, 0, 0, 0.856);
  text-decoration: none;
}

main {
  padding: 20px;
}

.Home {
  padding: 20px;
}

.OurWork {
  padding: 20px;
}

.AboutUs {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1,
h2 {
  color:rgba(0, 0, 0, 0.856);
}

footer {
  background-color: #ffffff;
  color:rgba(0, 0, 0, 0.856);
  padding: 20px;
  text-align: center;
}