body {
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

header {
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 60px;
}
.LisHome:hover {
  text-shadow: 0 0 10px #30c938, 0 0 10px #30c938, 0 0 40px #30c938;
  color: #ffffff;
}
.LisOWork:hover {
  text-shadow: 0 0 10px #d12727, 0 0 10px #d12727, 0 0 40px #d12727;
  color: #ffffff;
}
.LisAUs:hover {
  text-shadow: 0 0 10px #2987bd, 0 0 10px #2987bd, 0 0 40px #2987bd;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  display: inline;
  align-items: center;
  padding: 10px;
}

nav a {
  color: rgba(0, 0, 0, 0.856);
  text-decoration: none;
}

main {
  padding: 20px;
}

.Home {
  padding: 20px;
}

.OurWork {
  padding: 20px;
}

.AboutUs {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1,
h2 {
  color: rgba(0, 0, 0, 0.856);
}

footer {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  text-align: center;
}

input[type="submit"] {
  border: none;
  border-radius: 100px;
  padding: 10px 15px;
  background-color: #809696;
  color: rgb(43, 43, 43);
}

input[type="submit"]:is(:hover, :focus) {
  background-color: #3d539c;
  letter-spacing: 1px;
  cursor: pointer;
  color: #dbd9d9;
}
