body {
  background-color: #e7e7e7;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

header {
  background-color: #ffffff;
  padding: 20px;
  padding-bottom: 50px;
}
.LisHome:hover {
  text-shadow: 0 0 10px #30c938, 0 0 10px #30c938, 0 0 40px #30c938;
  color: #ffffff;
}
.LisOWork:hover {
  text-shadow: 0 0 10px #d12727, 0 0 10px #d12727, 0 0 40px #d12727;
  color: #ffffff;
}
.LisAUs:hover {
  text-shadow: 0 0 10px #2987bd, 0 0 10px #2987bd, 0 0 40px #2987bd;
  color: #ffffff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  display: inline;
  align-items: center;
  padding: 20px;
}

nav a {
  color: rgba(0, 0, 0, 0.856);
  text-decoration: none;
}

main {
  padding: 20px;
}

.Home {
  padding: 20px;
}

.OurWork {
  padding: 20px;
}

.AboutUs {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1,
h2 {
  color: rgba(0, 0, 0, 0.856);
}

footer {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  text-align: center;
}
.BotonLogin{
  border-radius: 10px;
  padding: 2px 15px;
  background-color: #aaaeb8;
}

.BotonLogin:is(:hover, :focus) {
  background-color: #6776a8;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #ffffff;
}
